.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-color: black;
    border-style: solid;
    width: 100%;
    display: block;
}

.scrollable tbody{
    display: block;
    width: fit-content;
    overflow-y: scroll;
    max-height: 500px;
}.row-header{
    width: 100px;
}.row-data{
    width: 100px;
}.action-header{
    width: 118px;
}.row-action{
    width: 100px;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    background-color: rgba(220, 220, 238, 0.89);
}

.invisible{
    display: none;
}

.btn-groups{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.action-del{
    background-color: #ff5252;
    color: #ffffff;
    cursor: pointer;
}

.action-edit{
    background-color: #ffff00;
    cursor: pointer;
}

.action-comp{
    background-color: #08b960;
    color: #ffffff;
    cursor: pointer;
}

th > button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    height: fit-content;
    -ms-transform: translateY(75%);
    transform: translateY(75%);
}

button:hover{
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.action-btn{
    border-radius: 50px;
}

#angleButton{
    background-color: transparent;
    border-style: none;
    border-radius: 50%;
    cursor: pointer;
}

#angleButton:hover{
    justify-content: center;
    align-items: center;
    background-color: rgb(165, 173, 197);
    border-style: none;
}

#angleButton > fa-icon{
    pointer-events: none;
}

// ARREGLAR ESTILOS DE HIJOS CUANDO SE EXPANDEN LOS NODOS

.child #angleButton{
    margin-left: 20px;
}.child{
    margin-left: 20px;
}