<table id="myTable" class="table table-responsive styled-table" [ngClass]="{ 'scrollable': scroll }">
    <caption>{{caption}}</caption>
    <ng-template *ngIf="values; then fcTable; else fcEmpty"></ng-template>
    <ng-template #fcTable>
        <thead>
            <tr>
                <th class="row-header"></th> <!--- Columna vacia para flecha que expande los nodos -->
                <th class="row-header" *ngFor="let map of columnMaps">{{ map.header }}</th>
                <th class="action-header"> Acciones </th>
            </tr>
        </thead>
        <tbody>
            <tr class="clickable" *ngFor="let value of flatTable"  id="{{value.data.id}}" (click)="highlight($event)"
            [ngClass]="{ 'invisible' : !value.visible }">
                <ng-container>
                    <td class="row-data"
                        [ngClass]="{
                            'parent': value.expandable,
                            'child': value.expandable && value.parent
                        }">
                        <button *ngIf="value.expandable" id="angleButton" [disabled]="!value.expandable" (click)="expandOrContract($event)">
                            <fa-icon *ngIf="!value.expanded" [icon]="angleRight"></fa-icon>
                            <fa-icon *ngIf="value.expanded" [icon]="angleDown"></fa-icon>
                        </button>
                    </td>
                    <td class="row-data" *ngFor="let map of columnMaps"
                        [ngClass]="{
                            'idField': value.data[map.access(value)] == value.data.id,
                            'parent': value.data[map.access(value)] == value.data.id && value.expandable,
                            'child': value.data[map.access(value)] == value.data.id && value.parent
                        }"
                        [fcStyleCell]="value.data[map.access(value)]">
                        {{ value.data[map.access(value)] | formatCell}}
                    </td>
                    <!-- Action Buttons -->
                    <td class="btn-groups btn-group-pill row-action">
                        <ng-container *ngIf="value.parent && value.data.estado.includes('Completa')">
                            <Button class="btn btn-tertiary action-btn action-edit"
                                style="text-align: center;" (click)="isSelected($event,'edit')">
                                Editar Tarea
                            </Button>
                            <Button class="btn btn-danger action-btn action-del"
                                style="text-align: center;" (click)="isSelected($event,'delete')">
                                Deshacer Tarea
                            </Button>
                        </ng-container>
                        <ng-container *ngIf="value.parent && !value.data.estado.includes('Completa')">
                            <Button class="btn btn-tertiary action-btn action-comp"
                                style="text-align: center;" (click)="isSelected($event,'fill')">
                                Completar Tarea
                            </Button>
                        </ng-container>
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </ng-template>
    <ng-template #fcEmpty>
        No hay datos disponibles para cargar
    </ng-template>
</table>

<!-- <div class="btn-groups btn-group-pill">
                        <Button pButton class="btn btn-tertiary"
                          *ngIf="!rowNode.node.children.length && rowData.estado.includes('Completa')" data-toggle="modal"
                          data-target="#myModal" style="text-align: center;" (click)="openModal('editar', rowNode.node)">
                          Editar Tarea
                        </Button>
                        <Button pButton class="btn btn-danger"
                          *ngIf="!rowNode.node.children.length && rowData.estado.includes('Completa')" style="text-align: center;"
                          (click)="confirmarEliminar(rowNode.node)">
                          Deshacer Tarea
                        </Button>
                      </div> -->