.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    // border-color: black;
    // border-style: solid;
    width: 100%;
    display: block;
}

.scrollable {
    display: block;
    width: fit-content;
    overflow-y: scroll;
    max-height: 400px;
}
.row-header{
    width: 60px;
}.row-data{
    width: 200px;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    background-color: rgba(220, 220, 238, 0.89);
}
