<body>
    <div id="content">
        <h2 id="tableName"><fa-icon [icon]="clipboardList"></fa-icon> Lista de tareas</h2>
        <div id="contenidoTab" class="x-card-body collapse show">
            <fc-treetable 
                [values]="tareas"
                [scroll]="true"
                (notify)="onNotify($event)">
            </fc-treetable>
    
            <!-- MODAL -->
            <div *ngIf="triggerModal" id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close-button topright" (click)="triggerModal = false">&times;</span>
                    <ng-container *ngIf="modalType == 'single'">
                        <div id="taskHeader" class="modal-header">
                            <h2><strong>Tarea ID: {{selected!.data.id}}</strong></h2>
                            <h2><strong>{{selected!.data.nombre}}</strong></h2>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div>
                                    <b>Fecha Inicio:</b> {{selected!.data.inicio}}<br>
                                    <b>Fecha Fin:</b> {{selected!.data.fin}}<br>
                                    <b>Fecha Completada:</b> {{selected!.data.completa}}<br>
                                    <b>Estado de la Tarea:</b> {{selected!.data.estado}}<br>
                                </div>
                                <div>
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="date" id="finReal">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button *ngIf="actionMode == 'fill'" id="completar" class="btn modal-btn" (click)="completarTarea()">Completar Tarea</button>
                            <button *ngIf="actionMode == 'edit'" id="editar" class="btn modal-btn" (click)="editarTarea()">Editar Tarea</button>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="modalType == 'multiple'">
                        <span class="close">&times;</span>
                        <div class="modal-header">
                            <h2>Modal Header</h2>
                        </div>
                        <div class="modal-body">
                            
                        </div>
                        <div class="modal-footer">
                            <h3>Modal Footer</h3>
                        </div>
                    </ng-container>
                </div>
            </div>

            <!-- LOADING ANIMATION -->
            <!-- <div ¨ngIf="loading" id="loader"></div> -->

            <!-- ALERT -->
            <div *ngIf="alert" class="alert" id="alert">
                <span class="closeBtn" (click)="clearAlert()">&times;</span>
                {{alertMessage}}
            </div>
        </div>
    </div>
        <!-- <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    
                    <div class="modal-header">
                        <h2 id="modalHeader" class="modal-title"><strong>Tarea ID:</strong></h2>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    
                    <div class="modal-body">
                        <h3 style="padding-left: 10%;"></h3>
                        <hr>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <b>Fecha Inicio:</b><br>
                                <b>Fecha Fin:</b><br>
                                <b>Fecha Completada:</b><br>
                                <b>Estado de la Tarea:</b><br>
                            </div>
                            <div class="col-md-6">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <button id=taskBtn class="btn btn-primary" data-dismiss="modal">Editar Tarea</button>
                    </div>
                </div>
            </div>
        </div> -->
</body>