<header>
  <div class="header">
    <img class="responsive" src="../assets/fourdplan.png" height="50"/>
    <img class="header-right responsive" src="../assets/pucv-logo.png" height="50"/>
  </div>
</header>

<body>
  <div class="tab">
    <button class="tablinks" [routerLink]="['/tareas']">Planificacion</button>
    <button class="tablinks" [routerLink]="['/modelo-bim']">Modelo BIM</button>
  </div>
  <div class="content">
    <div class="line"></div>
    <div id="contenido" class="card-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</body>