<body>
    <div id="toolbarContent">
        <!-- AQUI VAN ICONOS DE LOS BOTONES (SE SUPONE) -->
        <button>
            <!-- Reset View -->
        </button>
        <button>
            <!-- Orbit Model -->
        </button>
        <button>
            <!-- Pan Model -->
        </button>
        <button>
            <!-- Zoom Model -->
        </button>
        <!-- REVISAR TOOLBAR DE FUSION 360 EN FOURDPLAN QUE TIENE MAS FUNCIONES -->
        <button>
            <!-- ... -->
        </button>
    </div>
</body>