.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    // border-color: black;
    // border-style: solid;
    width: 100%;
    display: block;
}

.scrollable tbody{
    display: block;
    width: fit-content;
    overflow-y: scroll;
    max-height: 500px;
}.row-header{
    width: 200px;
}.row-data{
    width: 200px;
}.action-header{
    width: 338px;
}.row-action{
    width: 200px;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    background-color: rgba(220, 220, 238, 0.89);
}

.invisible{
    display: none;
}

.btn-groups{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.action-del{
    background-color: #ff5252;
    color: #ffffff;
    cursor: pointer;
}

.action-edit{
    background-color: #ffff00;
    cursor: pointer;
}

.action-comp{
    background-color: #08b960;
    color: #ffffff;
    cursor: pointer;
}

th > button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    height: fit-content;
    // -ms-transform: translateY(75%);
    // transform: translateY(75%);
}

button:hover{
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.action-btn{
    border-radius: 50px;
}

//Checkbox Style

.container{
    // display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: solid #423f3f;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/**
*
*/
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
/**
*Arrow button Style
*/
#angleButton{
    background-color: transparent;
    border-style: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: calc(10px * var(--depth));
}

#angleButton:hover{
    justify-content: center;
    align-items: center;
    background-color: rgb(165, 173, 197);
    border-style: none;
}

#angleButton > fa-icon{
    pointer-events: none;
}

/**
*   ESTILOS CELDAS DE ESTADO
*/
.stClear{
    background-color: #196d00;
    color: white;
}
.stEarly{
    background-color: #229b7e;
    color: white;
}
.stPast{
    background-color: #799400;
    color: white;
}
.stPending{
    background-color: #0083af;
    color: white;
}
.stLate{
    background-color: #8b1e00;
    color: white;
}