<table id="myTable" class="table table-responsive styled-table" [ngClass]="{ 'scrollable': scroll }">
    <ng-template *ngIf="values; then fcTable; else fcEmpty"></ng-template>
    <ng-template #fcTable>
        <thead>
            <tr>
                <!-- Switch de seleccion multiple -->
                <th>
                    <!-- Switch se encuentra escondido debido a restricciones de tiempo para
                    implementar seleccion multiple de tareas -->
                    <label class="switch" style="visibility: hidden;">
                        <input type="checkbox" (change)="multiple = !multiple">
                        Toggle Multiple
                        <span class="slider round"></span>
                      </label>
                </th>
                <th>
                    <!-- Boton para completar multiples tareas -->
                    <button [style.visibility]="!multiple ? 'hidden' : 'visible'">Completar</button>
                </th>
                <th class="row-header" *ngFor="let map of columnMaps">{{ map.header }}</th>
                <th *ngIf="actionView" class="action-header"> Acciones </th>
            </tr>
        </thead>
        <tbody>
            <tr class="clickable" *ngFor="let value of flatTable"  id="{{value.data.id}}" (click)="highlight($event)"
            [ngClass]="{ 'invisible' : !value.visible }">
                <ng-container>
                    <td class="row-data"
                        [ngClass]="{
                            'parent': value.expandable,
                            'child': value.expandable && value.parent
                        }">
                        <label class="container" *ngIf="multiple && value.parent">
                            <input type="checkbox" (change)="checkBoxSelect($event)" id="checkbox-{{value.data.id}}">
                            <span class="checkmark"></span>
                        </label>
                        <button [style.--depth]="value.level" *ngIf="value.expandable" id="angleButton" [disabled]="!value.expandable" (click)="expandOrContract($event)">
                            <fa-icon *ngIf="!value.expanded" [icon]="angleRight"></fa-icon>
                            <fa-icon *ngIf="value.expanded" [icon]="angleDown"></fa-icon>
                        </button>
                    </td>
                    <td class="row-data" *ngFor="let map of columnMaps"
                        [ngClass]="{
                            'idField': value.data[map.access(value)] == value.data.id,
                            'parent': value.data[map.access(value)] == value.data.id && value.expandable,
                            'child': value.data[map.access(value)] == value.data.id && value.parent,

                            'stPending': value.data[map.access(value)] == 'Pendiente',
                            'stClear': value.data[map.access(value)] == 'Completa',
                            'stEarly': value.data[map.access(value)] == 'Completa [Adelantada]',
                            'stPast': value.data[map.access(value)] == 'Completa [Fuera de Plazo]',
                            'stLate': value.data[map.access(value)] == 'Atrasada'
                        }"
                        [fcStyleCell]="value.data[map.access(value)]">
                        {{ value.data[map.access(value)] | formatCell}}
                    </td>
                    <!-- Action Buttons -->
                    <td *ngIf="actionView" class="btn-groups btn-group-pill row-action">
                        <ng-container *ngIf="value.parent && value.data.estado.includes('Completa')">
                            <Button class="btn btn-tertiary action-btn action-edit"
                                style="text-align: center;" (click)="isSelected($event,'edit')">
                                Editar Tarea
                            </Button>
                            <Button class="btn btn-danger action-btn action-del"
                                style="text-align: center;" (click)="isSelected($event,'delete')">
                                Deshacer Tarea
                            </Button>
                        </ng-container>
                        <ng-container *ngIf="value.parent && !value.data.estado.includes('Completa')">
                            <Button class="btn btn-tertiary action-btn action-comp"
                                style="text-align: center;" (click)="isSelected($event,'fill')">
                                Completar Tarea
                            </Button>
                        </ng-container>
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </ng-template>
    <ng-template #fcEmpty>
        <div style="text-align: center;">
            <h3>No hay datos disponibles para cargar</h3>
        </div>
    </ng-template>
</table>