body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f1f1f1;
}

.container{
    margin-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
}

#infoSec{
    width: 29%;
    height: 100vh;
}

#viewer {
    border-style: solid;
    margin-left: 30%;
    position: absolute;
    width: 65%;
    height: 70%;
}

#panelSemanalProg, #panelSemanalReal, #infoPanelLayer{
    display: none;
}

#panelSemanalProg, #panelSemanalReal, #infoPanelLayer{
    margin: 10px;
}
.colorCapa{
    height: 10px;
    width: 10px;
    border: solid gray;
    margin-right: 10px;
}

#capaDef{
    background-color: rgb(255,255,255);
}

.capaGl{
    display: flex;
    flex-direction: row;
}

#glosario{
    margin-left: 35%;
}

.labelCapa, .colorCapa{
    pointer-events: none;
}

.botonCapa{
    height: 20px;
    background-color: transparent;
    border: none;
}
.botonCapa:hover{
    cursor: pointer;
}

.infoDiv{
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

#selectorTarea{
    display: flex; 
    justify-content: space-between;
    text-align: center;
}

#infoPanel{
    border: solid gray;
    border-radius: 25px;
}