body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f1f1f1;
}

.container{
    padding-left: 10px;
    display: flex;
    flex-direction: row;
}

#infoSec{
    width: 29%;
    height: 100vh;
}

#viewer {
    border-style: solid;
    margin-left: 30%;
    position: absolute;
    width: 65%;
    height: 70%;
}